<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>hello how are you</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tenetur delectus sunt cupiditate facere. Accusamus aperiam, consequatur expedita natus temporibus ipsam dolores, ducimus, nobis veniam labore error nostrum? Quod, facilis!</p>
    <button>submit here</button>
    <a href="{% url 'about' %}">click here</a>
</body>
</html>