<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <h1>view data</h1>
    <table border="3px solid black">
        
        <tr>
            <th>name</th>
            <th>username</th>
        </tr>
            {% for iter in context %}
        <tr>
            
            <td>{{iter.name}}</td>
            <td>{{iter.username}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>