#circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.bs-example {
    margin: 0px;

}

.navbar-brand {
    font-size: 20px;
    font-family: sans-serif;
}
.main_div {
    text-align:center;
    position: relative;
   
}
.sub_div {
    position: absolute;
    bottom: 0px;
}
p {
    margin-left:110px;
}