{% extends 'admin/adminbase.html' %}
{% block content %}

 
  <br><br>
  <!-- <div class="container m-5 p-5"> -->
   <H4 class="text-center">BLOOD REQUEST DETAILS</H4><br>
  <table class="table table-striped table-light text-dark">
      <thead>
      
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Blood request date</th>
          <th scope="col">Unit requested(ml)</th>
          <th scope="col">Reason for Blood</th>
          <th scope="col">Due date</th>
              
        </tr>
      </thead>
      <tbody>
         
      {% for t in data %}

        <tr>
          
          <td>{{t.donorname}}</td>
          <td>{{t.age}}</td>
          <td>{{t.group}}</td>
          <td>{{t.date}}</td>
          <td>{{t.unitrequest}}</td>
          <td>{{t.reason}}</td>
          <td>{{t.duedate}}</td>
          
          
          <td>
              <button>Approved</button>
              <!-- <a href="{% url 'bloodbankdelete' t.id %}"><input type="submit" class="btn " value="Remove"></a> -->
          </td>
          
          
      </tr> 
      
      {% endfor %}     
      </tbody>
  </table>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- </div> -->

{% endblock content %}