{% extends 'base.html' %}
{% load static %}
{% block title %} Cart 
{% endblock title %}
{% block content %}


<style>
.con{
  display:flex;
  justify-content:space-between;
  align-items: space-between;
}
.order{
  background-color: rgb(237, 147, 30);
}
</style>

     <div class="container mt-5">
      <div class="row g-0">
        <div class="col-lg-6">
          <div class=" col-lg-12">
            <div class="card mb-3 border" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body d-lg-flex justify-content-lg-between">
                    <h6 class="card-text">
                      <strong>0/40 ITEM SELECTED</strong>   
                    </h6>
                    <a href=""><h6 class="text-muted"><strong>REMOVE &nbsp;&nbsp;&nbsp;|</strong></h6></a>
                    <a href=""><h6 class="text-muted"><strong>MOVE TO WISHLIST</strong></h6></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-lg-12">
            <div class="card mb-3 border" style="max-width: 540px;">
              <div class="row g-0">
                {% for item in products %}
               
                <div class="col-md-4">
                  <img
                    src="/media/{{item.product.photo}}"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start"/>
                    <div class="card">
                      <input type="checkbox" id="item" name="item" value="watch"/>
                    </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{item.product.brand.brand_name}}</h5>
                    <p class="card-text">
                      {{item.product.description}}
                    </p>
                    <div class="col-lg-1 text-center">
                        <input type="text" name="qty">
                    </div>
                    <p class="card-text">
                      <small class="text-muted">{{item.date}}</small>
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
         <a href=""><button type="submit"></button></a>
        </div>

        <div class="col-lg-4">
          <div class="card mb-3 border" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-8">        
                           
                  <div class="card-body">
                  
                    <h5>PRICE DETAILS(1 Item)</h5>
                    <p class="card-text">
                     <div class="d-flex justify-content-between">
                      <p>Total MRP</p>
                      <p>{{orders.product.price}}</p>
                     </div>
                     <div class="con">
                     <p>Discount on MRP</p>   
                     <p>{{orders.product.discount}}</p>  
                     <div class="con">
                      <p>Total Amount</p> 
                      <p>{{orders.total}}</p>
                     </div> 
                    </p>       
                    <button class="p-3 bg-success "><a href="{% url 'place_order' %}" class="text-light">PLACE ORDER</a></button>
                  </div>
                  
                </div>
              </div>
            </div>

        </div>
      </div> 
    </div>

{% endblock content %}