{% extends 'patient/patientbase.html' %}
{% block content %}

<br><br>
<div class="container">
    <H4 class="text-center">My Blood Request update</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Donor Name</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Blood request date</th>
                <th scope="col">Donating Unit(ml)</th>
                <th scope="col">Health Status</th>
                <th scope="col">Date</th>
                    
              </tr>
            </thead>
            <tbody>
               
            {% for t in data %}
            {% if t.status == '2' %}
         
    
              <tr>
     
                <td>{{t.donorname}}</td>
                <td>{{t.age}}</td>
                <td>{{t.group}}</td>
                <td>{{t.date}}</td>
                <td>{{t.unitrequest}}</td>
                <td>{{t.health}}</td>
                <td>{{t.date}}</td>
                
            
                

            </tr>
            
            {% endif %}
            {% endfor %}

        </tbody>
    
    </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 
{% endblock %}