{% extends 'patient/patientbase.html' %}
{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-4">
      <form method="post" action="{% url 'bloodbank' %}">
        {% csrf_token %}sqw1
          <div class="form-group">
            <label for="exampleInputEmail1">Donor Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Donor Name" value="{{u.name}}" name="donorname">
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Donor ID</label>
              <input type="hidden" class="form-control" id="exampleInputPassword1" placeholder="Donor Id" value="{{u.user_id}}" name="donorid">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Age</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Age" value="{{u.age}}" name="age">
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Blood Group</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Blood Group" value="{{u.group}}" name="group">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Health Status</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Health Status" value="{{u.desease}}" name="health">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">date</label>
              <input type="datetime" class="form-control" id="exampleInputPassword1" placeholder="Requested Date .."value="{{u.date}}" name="date">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Due Date</label>
              <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Due Date.." name="duedate">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Reason</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Reason.." name="reason">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Unit Requested</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unit Requested.." name="unit">
            </div> 
          
          <input type="submit" class="btn btn-primary" value="Submit"/>
      </form>
  
      
    </div>
  </div>
</div>
    


{% endblock content%}