{% extends 'admins/base.html' %}
{% block content %}

<div class="container-fluid text-center ">
  
  <div class="row ">
    <div class="col-lg-3"></div>
      <div class="col-lg-2 bg-warning mx-auto p-5 text-center mt-4">
          <h2>STAFF</h2>
          <h2>12</h2>
      </div>
      <div class="col-lg-2 bg-info p-5 mx-auto text-center mt-4">
        <h2>STUDENT</h2>
        <h2>51</h2>
      </div>
      <div class="col-lg-3"></div>
  </div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <h1>NOTICE BOARD</h1>
    <div class="row">
        
        <div class="col-lg-3"><div class="card" >
            <img src="../static/images/anounce.png" class="card-img-top" alt="Sunset Over the Sea"style=height:300px >
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div></div>
        <div class="col-lg-3">   <div class="card" >
            <img src="../static/images/noclass.jpg" class="card-img-top" alt="Sunset Over the Sea" style=height:300px >
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div></div>
       <div class="col-lg-3"> <div class="card" >
        <img src="../static/images/scfair.jpg" class="card-img-top" alt="Sunset Over the Sea" style=height:300px >
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

{% endblock content %}

