{% for room in rooms %}
       
{% for product in products %}
<div class="row">   
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.image.url}}">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>
      <a href="{% url 'cart' %}"><button  data-room={{room.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></a>
      <a class="btn btn-outline-success" href="{% url 'cart' %}">View</a>
      <h4 style="display: inline-block;float:right"><strong>₹ {{product.price|floatformat:2}}</strong></h4>
    </div>
  </div>  
  {% endfor %}      
       

  <!--  -->
    <a href="{% url 'room' room.id %}">
      <div class="roomListRoom">
        <div class="roomListRoom__header">
          <a href="{% url 'room' room.id %}" class="roomListRoom__author">
            <div class="avatar">
              <img src="{{room.productphoto.url}}" />
            </div>
          </a>
        </div>
        <div class="roomListRoom__content">
          <a href="{% url 'room' room.id %}">{{room.name}}</a>
        </div>
        <div class="roomListRoom__meta">
          <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
            From ₹{{room.price}} 
          </a>
          <p class="roomListRoom__topic">{{room.topic.name}}</p>
        </div>
        </div>
    </a>
{% endfor %}
            
  