<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, obcaecati soluta iste ipsum dolorem corrupti illum provident doloremque fugiat minus, totam eum ducimus quo aliquid! Maiores quis aliquid tenetur doloremque sit quae assumenda aspernatur nobis odio nesciunt officia aut officiis rem, dolore quaerat? Nesciunt fuga quo ut dicta assumenda, sunt consequuntur cum eius impedit dolores fugit ea dignissimos saepe inventore illum tempore dolorum rerum deleniti excepturi et. Laudantium eveniet dolore exercitationem accusantium suscipit error cumque perspiciatis quas ratione voluptas beatae, obcaecati amet cupiditate similique sequi voluptatum tenetur sapiente magni rem nisi minus consectetur quia. Nulla asperiores earum quae illum modi!
    <input type="button" value="submit">        
    </p>
</body>
</html>