{% extends 'donor/donorbase.html' %}
{% block content %}

<br><br>
<div class="container-fluid">
    <H4 class="text-center">My Blood Request</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Age</th>
                <th scope="col">Donor Name</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Blood request date</th>
                <th scope="col">Unit requested(ml)</th>
                <th scope="col">Reason for Blood</th>
                <th scope="col">Due date</th>
                <th scope="col">Action</th>
                    
              </tr>
            </thead>
            <tbody>
               
            {% for t in patient %} 
            {% if i.status == '1' %}
         
    
              <tr>
                <td>{{t.name}}</td>
                <td>{{t.age}}</td>
                <td>{{i.donorname}}</td>
                <td>{{t.group}}</td>
                <td>{{t.date}}</td>
                <td>{{i.unitrequest}}</td>
                <td>{{i.reason}}</td>
                <td>{{i.duedate}}</td>
                
                
                
                <td><a href="{% url 'patientrequestapprove' t.id %}"><input type="submit" value="Approve" class="btn btn-light"></a>
                    <a href="{% url 'patientrequestdelete' t.id %}"><input type="submit" value="Remove" class="btn btn-light"></a></td>
                

            </tr>
            
            {% endif %}
            {% endfor %}

        </tbody>
    
    </table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}